* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.nm {
    position: relative;
}

.navbar {
    width: 100%;
    background-image: url('https://cdn.kekastatic.net/shared/assets/images/components/page-header/0.png');
    background-color: #A04875;
    padding-block: 5px;
    align-items: center;
    gap: 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
}

.logo {
    width: 5%;
}

.logo img {
    padding: 5px 10px;
    color: white;
}

.name p {
    color: white;
}

.search-bar {
    padding-inline: 10px;
}

.search-bar input {
    border-radius: 20px;
    border: none;
    padding: 10px 10px 10px 30px;
    font-size: 12px;
    width: 24rem;
}

::placeholder {
    opacity: .7;
}

.profile {
    margin-left: auto;
    color: white;
    padding-inline: 10px;
    gap: 10px;
}

.profile button {
    background-color: transparent;
    border: none;
    color: white;
}

.profile select {
    border: none;
    background-color: transparent;
    color: white;
}

.profile p {
    background-color: #3D9EED;
    border-radius: 50%;
    padding: 10px;
}



section {
    width: 100%;
    height: 100%;
    background-color: #F3F4F7;
    height: 93.5vh;
    position: relative;
    top: 6.5vh;
}

section .left {
    width: 6.5%;
    background-color: #394253;
    height: 100%;
    position: fixed;
    left: 0;
}

.home {
    color: white;
    text-align: center;
    padding-block: 20px;
    opacity: .5;
    font-size: 14px;
}

.active {
    background-color: #454f62;
    opacity: 1;
}

.home:hover {
    background-color: #454f62;
    opacity: 1;
    cursor: pointer;
}

.right {
    width: 93.5%;
    position: relative;
    left: 6.5%;
}

.status {
    width: 100%;
}

nav {
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 10px 0px black;
    font-size: .65rem;
}

ul li {
    padding: 13px 15px;
    list-style-type: none;
}

ul li a {
    opacity: .7;
}

.boxes {
    width: 33%;
    padding-top: 20px;
    padding-left: 20px;
}

.boxes .para {
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.box {
    background-color: white;
    height: 140px;
    /* gap: 2%; */
    padding: 20px;
    box-shadow: 1px 1px 10px 10px rgb(235, 235, 235);
}

.last-week {
    justify-content: space-between;
}

.last-week button,
select {
    background-color: transparent;
    border: none;
}

.fa-circle-info {
    color: #a0a0a0;
    padding-right: 5px;
}

.me {
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.me-flex {
    align-items: center;
    width: 40%;
}

.me .me-flex p {
    padding-top: 50px;
    font-size: 1rem;
    opacity: 1;
}

.me p {
    font-size: .7rem;
    opacity: .7;
}

.me h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    padding-top: -50px;
}

.me i {
    background-color: orange;
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    color: white;
}

.avg-hours .none {
    visibility: hidden;
}

.line {
    margin-block: 10px;
    width: 100%;
    background-color: #a0a0a0;
    padding-block: .2px;
}

.me-flex .blue {
    background-color: #3D9EED;
}

.left-action button {
    padding: 10px 15px;
    background-color: white;
    border: .2px solid rgb(210, 210, 210);
    font-size: 1.1rem;
}

.right-action {
    flex-direction: column;
    gap: 5px;
}

.right-action p {
    font-size: .7rem;
    color: #B662A8;
    cursor: pointer;
    padding-top: 10px;
}

.action {
    gap: 20px;
}

.top-timings {
    justify-content: space-between;
    padding-top: .8rem;
}

.top-left {
    gap: 9px;
}

.top-left p {
    border: 1px solid rgb(183, 183, 183);
    border-radius: 50%;
    padding: 4px 7px;
    font-size: .7rem;
}

.top-left .T {
    background-color: #77c0fc;
    color: white;
    border: none;
    border: 1px solid #77c0fc;
}

.S {
    background-color: rgb(183, 183, 183);
}

.top-right {
    color: gray;
    gap: 20px;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.line-blue {
    width: 100%;
    padding-block: 5px;
    background-color: #77c0fc;
    border-radius: 10px;
}

.bottom-timings {
    font-size: .8rem;
    flex-direction: column;
    gap: 5px;
}

.duration {
    justify-content: space-between;
    opacity: .7;
    font-size: .65rem;
}

.timing-box {
    flex-direction: column;
    justify-content: space-between;
}

.log-req {
    padding: 33px 20px 20px 20px;
    font-size: 1.1rem;
    flex-direction: column;
    gap: 18px;
}

.top-log {
    align-items: center;
    justify-content: space-between;
    transition: 1s ease;
}

.hours {
    align-items: center;
    gap: 10px;
    font-size: .8rem;
    transition: 1s ease;
}

.on-off {
    background-color: #D8DDE6;
    height: 15px;
    width: 30px;
    border-radius: 10px;
    padding: 1px;
    transition: 1s ease;
}

.on {
    width: 50%;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    transition: 1s ease;
}

.on-off:hover {
    background-color: #B64F79;
    cursor: pointer;
    transition: 1s ease;
}

.on-off:hover>.on {
    margin-left: auto;
}

.bottom-log {
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
}

.atte {
    font-size: .8rem;
}

.atte li {
    padding: 15px 17px;
    opacity: .8;
}

.atte li:hover {
    opacity: 1;
    cursor: pointer;
}

.atte .active-li {
    opacity: 1;
    background-color: #E9CAD7;
}

.last-30-days {
    padding-inline: 20px;
}

.l-30-main {
    border: 1px solid rgb(206, 206, 206);
    background-color: white;
    padding: 10px 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.day .active-li-days {
    background-color: #b13c6b;
    color: white;
    border-left: none;
}

.days ul li {
    border-left: 1px solid gray;
    padding: .8rem 1.5rem;
    color: #b13c6b;
}

.day li {
    font-size: .9rem;
    transition: 1s ease;
}

.days {
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.day li:hover {
    color: white;
    background-color: #b13c6b;
    cursor: pointer;
}

.dates {
    padding-inline: 20px;
}

.head {
    border: 1px solid rgb(206, 206, 206);
    padding: 10px 20px;
    gap: .7%;
}

.head p {
    font-size: .7rem;
}

.date {
    width: 20%;
}

.main-atte {
    width: 20%;
    text-align: center;
}

.effe-hour {
    text-align: center;
    width: 22%;
}

.gro-hours {
    text-align: center;
    width: 10%;
}

.arrival {
    text-align: center;
    width: 20%;
}

.log-main {
    text-align: center;
    width: 5%;
}

.value {
    padding-inline: 20px;
}

.atte-daily{
    padding-block: 15px;
    background-color: white;
}

.weekend{
    width: 60%;
    text-align: center;
}

.check-i {
    color: green;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    font-size: .6rem;
}

.weekend-value{
    background-color: rgb(254, 233, 233);
}

.exam-value{
    background-color:rgb(232, 232, 232);
}

.weekend-date{
    background-color: #C2B89D;
    color: white;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.exam-leave{
    background-color: #9785C2;
    color: white;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.pnlty{
    background-color: red;
    color: white;
    padding: 2px 4px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.total-hours{
    background-color: #3D9EED;
    color: #3D9EED;
    border-radius: 50%;
    padding: 2px 2.5px;
}
