* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}

.container {
    position: relative;
}

.flex {
    display: flex;
}

.left {
    width: 28%;
    /* background-color: red; */
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
}


.top-left {
    background-color: rgb(31, 30, 30);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    flex-direction: column;
    gap: 1rem;
}

.library {
    color: rgb(179, 179, 179);
    gap: 8px;
}

.bottom-left {
    background-color: rgb(31, 30, 30);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    flex-direction: column;
    gap: 20px;
}

.second-line {
    justify-content: space-between;
    color: rgb(179, 179, 179);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(48, 48, 48);
    color: WHITE;
}

.recent {
    justify-content: space-between;
}

select {
    border: none;
    background-color: transparent;
    color: white;
}

.recent button {
    border: none;
    color: white;
    background-color: transparent;
}

.like-songs {
    flex-direction: column;
    gap: 20px;
}

.songs-left i {
    background-image: linear-gradient(to bottom right, rgb(17, 17, 255), white);
    border-radius: 5px;
    padding: 15px;
}

.songs-right {
    padding-left: 15px;
    flex-direction: column;
    gap: 5px;
    font-size: .9rem;
}

.songs-right p,
.search {
    color: rgb(179, 179, 179);
}

.song {
    align-items: center;
}

/* ---------------Right-Part------------------------- */

.right {
    width: 70%;
    /* background-color: blue; */
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-right {
    background-image: linear-gradient(maroon, black);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    flex-direction: column;
    gap: 1rem;
}

.upgrade {
    justify-content: space-between;
}

.upgrade-left i {
    font-size: 2rem;
    color: black;
    opacity: .7;
    background-color: white;
    border-radius: 50%;
}

.upd {
    padding: 10px 20px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 20px;
    font-weight: bolder;
}

.upd1 {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.502);
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bolder;
}

.upgrade-right .user {
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 50%;
    padding: 10px;
}

.greeting {
    padding: 10px 0px;
}

.daily-playlist {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.daily {
    width: 32%;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 5px;
}

.album {
    width: 30%;
}

.album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.playlist-name {
    align-items: center;
}

.top-mixes{
    width: 100%;
    justify-content: space-between;
}

.box1{
    width: 19%;
    background-color: rgb(23, 23, 23);
    border-radius: 5px;
}

.box1 img{
    border-radius: 5px;
}

.box1 p{
    font-size: 1rem;
}

.padding{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 100%;
    object-fit: cover;
}





/* -------------------Running-Song-Fixed-------------------- */
.running-song {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    align-items: center;
}

.left-running {
    width: 30%;
    padding: 15px;
}

.run-font {
    padding-inline: 15px;
    gap: 15px;
}


.center-running {
    text-align: center;
    width: 37%;
    flex-direction: column;
    gap: 10px;
}

.top-run {
    gap: 20px;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.top-run i:nth-child(3) {
    font-size: 1.8rem;
}

.top-run i:nth-child(3):hover {
    scale: 1.1;
}

.opa {
    opacity: .5;
}

.opa:hover {
    opacity: 1;
}


.bottom-run {
    align-items: center;
    gap: 10px;
}

.bottom-run input {
    width: 100%;
    height: 5px;
}

.right-running {
    width: 31%;
    align-self: center;
    gap: 15px;
    justify-content: flex-end;
}











/* -----------Hover Effects------------- */
.daily {
    position: relative;
}

.play i {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 50px;
    color: green;
    background-color: black;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px 0px black;
}

.daily:hover{
    transition: 1s ;
    background-color: rgba(255, 255, 255, 0.3);
}

.daily:hover > .play i{
    display: block;
}